/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

footer p {
    padding: 0; /* Set padding to zero */
    margin: 0; /* Set margin to zero */
}

.container {
    display: flex;
    min-height: 100vh; /* Adjust height */
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Main Category Styles */
.sidebar ul li {
    padding: 5px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #f4f4f4;
}

/* Subcategory Styles */
.sidebar ul .subcategories {
    padding-left: 20px; /* Indent subcategories */
    margin-top: 5px;
    display: none; /* Initially hide subcategories */
}

.sidebar ul .subcategories li {
    padding: 3px 0;
}

.sidebar ul .subcategories li a {
    font-size: 0.9em; /* Smaller font for subcategories */
    color: #0056b3; /* Different color for subcategory links */
}

/* Main Content Styles */
main {
    flex-grow: 1;
    padding: 20px;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

#product-grid div {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

#product-grid h3 {
    margin-top: 0;
}

/* Shopping Cart Styles */
#shopping-cart {
    margin-top: 20px;
}

#cart-items .cart-item {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
}

#cart-items .item-info {
    margin-bottom: 5px; /* Reduced space between item info and the button */
}

#cart-items .item-action button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px; /* Adjusted padding for a more compact button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cart-items .item-action button:hover {
    background-color: #0056b3;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


/* Admin */
#admin-login-btn {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#admin-login-form {
    position: fixed;
    right: 10px;
    bottom: 60px;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#admin-login-form form {
    display: flex;
    flex-direction: column;
}

#admin-login-form label {
    margin-top: 10px;
}

#admin-login-form input {
    margin-top: 5px;
}

#admin-login-form button {
    margin-top: 10px;
}